<a href="https://colab.research.google.com/github/surekhavydyula4-cmd/Pandas/blob/main/concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Creating DataFrames
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88]]

col=["COL1","COL2"]

df1=pd.DataFrame(d1,columns=col)
df2=pd.DataFrame(d2,columns=col)
print(df1)
print()
print(df2)

   COL1  COL2
0    11    22
1    33    44

   COL1  COL2
0    55    66
1    77    88

In [5]:
#Concat two dataframes
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88]]

col=["COL1","COL2"]

df1=pd.DataFrame(d1,columns=col)
df2=pd.DataFrame(d2,columns=col)

d=[df1,df2]
df3=pd.concat(d)
print(df3)

   COL1  COL2
0    11    22
1    33    44
0    55    66
1    77    88

In [7]:
#concat two dataframes ignore index
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88]]

col1=["COL1","COL2"]
col2=["COL3","COL4"]

df1=pd.DataFrame(d1,columns=col1)
df2=pd.DataFrame(d2,columns=col2)

d=[df1,df2]
df3=pd.concat(d,ignore_index=True)

print(df3)

   COL1  COL2  COL3  COL4
0  11.0  22.0   NaN   NaN
1  33.0  44.0   NaN   NaN
2   NaN   NaN  55.0  66.0
3   NaN   NaN  77.0  88.0

In [9]:
#concat two dataframes
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88],[99,100]]

col1=["COL1","COL2"]
col2=["COL3","COL4"]

df1=pd.DataFrame(d1,columns=col1)
df2=pd.DataFrame(d2,columns=col2)

d=[df1,df2]
df3=pd.concat(d)

print(df3)

   COL1  COL2  COL3   COL4
0  11.0  22.0   NaN    NaN
1  33.0  44.0   NaN    NaN
0   NaN   NaN  55.0   66.0
1   NaN   NaN  77.0   88.0
2   NaN   NaN  99.0  100.0

In [11]:
#concat two dataframes
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66,77],[77,88,99]]

col1=["COL1","COL2"]
col2=["COL3","COL4","COL5"]

df1=pd.DataFrame(d1,columns=col1)
df2=pd.DataFrame(d2,columns=col2)

d=[df1,df2]
df3=pd.concat(d)

print(df3)

   COL1  COL2  COL3  COL4  COL5
0  11.0  22.0   NaN   NaN   NaN
1  33.0  44.0   NaN   NaN   NaN
0   NaN   NaN  55.0  66.0  77.0
1   NaN   NaN  77.0  88.0  99.0

In [12]:
#concat two dataframes ignore index
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66,77],[77,88,99]]

col1=["COL1","COL2"]
col2=["COL3","COL4","COL5"]

df1=pd.DataFrame(d1,columns=col1)
df2=pd.DataFrame(d2,columns=col2)

d=[df1,df2]
df3=pd.concat(d,ignore_index=True)

print(df3)

   COL1  COL2  COL3  COL4  COL5
0  11.0  22.0   NaN   NaN   NaN
1  33.0  44.0   NaN   NaN   NaN
2   NaN   NaN  55.0  66.0  77.0
3   NaN   NaN  77.0  88.0  99.0

In [14]:
#Concat DataFrames
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66],[77,88]]

col=["COL1","COL2"]

df1=pd.DataFrame(d1,columns=col)
df2=pd.DataFrame(d2,columns=col)

d=[df1,df2]
df3=pd.concat(d,axis=1)
print(df3)

   COL1  COL2  COL1  COL2
0    11    22    55    66
1    33    44    77    88

In [16]:
#concat two dataframes ignore index
import pandas as pd
d1=[[11,22],[33,44]]
d2=[[55,66,77],[77,88,99],[1,2,3]]

col1=["COL1","COL2"]
col2=["COL3","COL4","COL5"]

df1=pd.DataFrame(d1,columns=col1)
df2=pd.DataFrame(d2,columns=col2)

d=[df1,df2]
df3=pd.concat(d,axis=1)

print(df3)

   COL1  COL2  COL3  COL4  COL5
0  11.0  22.0    55    66    77
1  33.0  44.0    77    88    99
2   NaN   NaN     1     2     3