<a href="https://colab.research.google.com/github/surekhavydyula4-cmd/Pandas/blob/main/Datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded=files.upload()

Saving sales7_dates.csv to sales7_dates.csv

In [2]:
#Creating Dataframe
import pandas as pd
df=pd.read_csv("sales7_dates.csv")
print(df.head())
print()
print(df.dtypes)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost       Pur_Date
0         59000  1/1/2019 0:00
1         69000  1/1/2019 1:00
2         65999  1/1/2019 2:00
3         63999  1/1/2019 3:00
4         63999  1/1/2019 4:00

Order_Id          int64
Customer_Name    object
Customer_Id       int64
Product_Name     object
Product_Cost      int64
Pur_Date         object
dtype: object

In [3]:
#converting pur_dates datatype to date datatype
import pandas as pd
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
print(df.head())
print()
print(df.dtypes)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
0         59000 2019-01-01 00:00:00
1         69000 2019-01-01 01:00:00
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

Order_Id                  int64
Customer_Name            object
Customer_Id               int64
Product_Name             object
Product_Cost              int64
Pur_Date         datetime64[ns]
dtype: object

In [5]:
#converting pur_dates datatype to date datatype explicitly by to_datetime() function
import pandas as pd
df=pd.read_csv("sales7_dates.csv")
df["Pur_Date"]=pd.to_datetime(df["Pur_Date"])
print(df.head())
print()
print(df.dtypes)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
0         59000 2019-01-01 00:00:00
1         69000 2019-01-01 01:00:00
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

Order_Id                  int64
Customer_Name            object
Customer_Id               int64
Product_Name             object
Product_Cost              int64
Pur_Date         datetime64[ns]
dtype: object

In [6]:
#Converting to date datatype by astype() method
import pandas as pd
df=pd.read_csv("sales7_dates.csv")
df["Pur_Date"]=df["Pur_Date"].astype('datetime64[ns]')
print(df.head())
print()
print(df.dtypes)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
0         59000 2019-01-01 00:00:00
1         69000 2019-01-01 01:00:00
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

Order_Id                  int64
Customer_Name            object
Customer_Id               int64
Product_Name             object
Product_Cost              int64
Pur_Date         datetime64[ns]
dtype: object

In [7]:
#Creating Dataframe
import pandas as pd
d = {
        'Product': ['Samsung', 'iPhone', 'Motorola'],
        'Status': ['Success', 'Success', 'Failed'],
        'Cost': [10000, 50000, 15000],
        'PurDate': ['20190902','20190913','20190921']
}
df=pd.DataFrame(d)
df["PurDate"]=pd.to_datetime(df["PurDate"])
print(df.head())
print()
print(df.dtypes)

    Product   Status   Cost    PurDate
0   Samsung  Success  10000 2019-09-02
1    iPhone  Success  50000 2019-09-13
2  Motorola   Failed  15000 2019-09-21

Product            object
Status             object
Cost                int64
PurDate    datetime64[ns]
dtype: object

In [11]:
import pandas as pd
d = {
        'Product': ['Samsung', 'iPhone', 'Motorola'],
        'Status': ['Success', 'Success', 'Failed'],
        'Cost': [10000, 50000, 15000],
        'PurDate': ['20190902','20190913','20190921']
}
df=pd.DataFrame(d)
df["PurDate"]=pd.to_datetime(df["PurDate"],format="%Y%m%d")
print(df)

    Product   Status   Cost    PurDate
0   Samsung  Success  10000 2019-09-02
1    iPhone  Success  50000 2019-09-13
2  Motorola   Failed  15000 2019-09-21

In [10]:
import pandas as pd
d = {
        'Product': ['Samsung', 'iPhone', 'Motorola'],
        'Status': ['Success', 'Success', 'Failed'],
        'Cost': [10000, 50000, 15000],
        'PurDate': ['2019Sep02','2019Sep13','2019Sep21'],
}
df=pd.DataFrame(d)
df["PurDate"]=pd.to_datetime(df["PurDate"],format="%Y%b%d")
print(df)

    Product   Status   Cost    PurDate
0   Samsung  Success  10000 2019-09-02
1    iPhone  Success  50000 2019-09-13
2  Motorola   Failed  15000 2019-09-21

In [12]:
import pandas as pd
d = {
        'Product': ['Samsung', 'iPhone', 'Motorola'],
        'Status': ['Success', 'Success', 'Failed'],
        'Cost': [10000, 50000, 15000],
        'PurDate': ['2019-Sep-02','2019-Sep-13','2019-Sep-21'],
}
df=pd.DataFrame(d)
df["PurDate"]=pd.to_datetime(df["PurDate"],format="%Y-%b-%d")
print(df)

    Product   Status   Cost    PurDate
0   Samsung  Success  10000 2019-09-02
1    iPhone  Success  50000 2019-09-13
2  Motorola   Failed  15000 2019-09-21

In [13]:
import pandas as pd
d = {
        'Product': ['Samsung', 'iPhone', 'Motorola'],
        'Status': ['Success', 'Success', 'Failed'],
        'Cost': [10000, 50000, 15000],
        'PurDate': ['20190902093000','20190913093000','20190921200000']
}
df=pd.DataFrame(d)
df["PurDate"]=pd.to_datetime(df["PurDate"])
print(df)

    Product   Status   Cost             PurDate
0   Samsung  Success  10000 2019-09-02 09:30:00
1    iPhone  Success  50000 2019-09-13 09:30:00
2  Motorola   Failed  15000 2019-09-21 20:00:00

In [19]:
import pandas as pd
d = {
        'Product': ['Samsung', 'iPhone', 'Motorola'],
        'Status': ['Success', 'Success', 'Failed'],
        'Cost': [10000, 50000, 15000],
        'PurDate': ['20190902093000','Missing Value','20190921200000']
}
df=pd.DataFrame(d)
print(df)

    Product   Status   Cost         PurDate
0   Samsung  Success  10000  20190902093000
1    iPhone  Success  50000   Missing Value
2  Motorola   Failed  15000  20190921200000

In [20]:
import pandas as pd
d = {
        'Product': ['Samsung', 'iPhone', 'Motorola'],
        'Status': ['Success', 'Success', 'Failed'],
        'Cost': [10000, 50000, 15000],
        'PurDate': ['20190902093000','Missing Value','20190921200000']
}
df=pd.DataFrame(d)
df["PurDate"]=pd.to_datetime(df["PurDate"])
print(df)

ValueError: time data "Missing Value" doesn't match format "%Y%m%d%H%M%S", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [21]:
import pandas as pd
d = {
        'Product': ['Samsung', 'iPhone', 'Motorola'],
        'Status': ['Success', 'Success', 'Failed'],
        'Cost': [10000, 50000, 15000],
        'PurDate': ['20190902093000','Missing Value','20190921200000']
}
df=pd.DataFrame(d)
df["PurDate"]=pd.to_datetime(df["PurDate"],errors='coerce')
print(df)

    Product   Status   Cost             PurDate
0   Samsung  Success  10000 2019-09-02 09:30:00
1    iPhone  Success  50000                 NaT
2  Motorola   Failed  15000 2019-09-21 20:00:00

In [23]:
#Creating Dataframe
import pandas as pd
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
print(df.head())
print()
print(df.dtypes)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
0         59000 2019-01-01 00:00:00
1         69000 2019-01-01 01:00:00
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

Order_Id                  int64
Customer_Name            object
Customer_Id               int64
Product_Name             object
Product_Cost              int64
Pur_Date         datetime64[ns]
dtype: object

In [30]:
import pandas as pd
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
start=df["Pur_Date"]> '1/1/2019 0:00'
d=df[start]
print(d)

      Order_Id Customer_Name  Customer_Id                Product_Name  \
1         1024    Chaithanya           14                   iPhone 11
2         1025        Shahid           20  Bose SoundSport Headphones
3         1026         Veeru            3        Apple iPad 10.2-inch
4         1027          Venu           23                Google Phone
5         1028        Daniel            6      Samsung Galaxy S9 Plus
...        ...           ...          ...                         ...
9994     11017       Karteek            4                20in Monitor
9995     11018         Vinay           10    Apple Airpods Headphones
9996     11019       Neelima           19      LG ThinQ Refrigerator
9997     11020        Siddhu           18                   iPhone 7s
9998     11021         Tarun           11      34in Ultrawide Monitor

      Product_Cost            Pur_Date
1            69000 2019-01-01 01:00:00
2            65999 2019-01-01 02:00:00
3            63999 2019-01-01 03:00:00
4            63999 2019-01-01 04:00:00
5            63999 2019-01-01 05:00:00
...            ...                 ...
9994         51999 2020-02-21 10:00:00
9995         75999 2020-02-21 11:00:00
9996         75999 2020-02-21 12:00:00
9997         65999 2020-02-21 13:00:00
9998         55000 2020-02-21 14:00:00

[9998 rows x 6 columns]

In [28]:
import pandas as pd
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
e=df["Pur_Date"]< '1/1/2019 5:00'
d=df[end]
print(d)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
0         59000 2019-01-01 00:00:00
1         69000 2019-01-01 01:00:00
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

In [31]:
import pandas as pd
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
start=df["Pur_Date"]> '1/1/2019 0:00'
end=df["Pur_Date"]< '1/1/2019 5:00'
d=df[start&end]
print(d)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
1         69000 2019-01-01 01:00:00
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

In [40]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
new_df=df.set_index("Pur_Date")
d=new_df.first('10D')
print(d)

                     Order_Id Customer_Name  Customer_Id  \
Pur_Date
2019-01-01 00:00:00      1023         Venki           15
2019-01-01 01:00:00      1024    Chaithanya           14
2019-01-01 02:00:00      1025        Shahid           20
2019-01-01 03:00:00      1026         Veeru            3
2019-01-01 04:00:00      1027          Venu           23
...                       ...           ...          ...
2019-01-10 19:00:00      1258       Lavanya           16
2019-01-10 20:00:00      1259        Harsha            5
2019-01-10 21:00:00      1260         Veeru            3
2019-01-10 22:00:00      1261         Shafi           25
2019-01-10 23:00:00      1262        Daniel            6

                                   Product_Name  Product_Cost
Pur_Date
2019-01-01 00:00:00            27in FHD Monitor         59000
2019-01-01 01:00:00                   iPhone 11         69000
2019-01-01 02:00:00  Bose SoundSport Headphones         65999
2019-01-01 03:00:00        Apple iPad 10.2-inch         63999
2019-01-01 04:00:00                Google Phone         63999
...                                         ...           ...
2019-01-10 19:00:00                20in Monitor         63999
2019-01-10 20:00:00                20in Monitor         65000
2019-01-10 21:00:00          Macbook Pro Laptop         65999
2019-01-10 22:00:00                Google Phone         55999
2019-01-10 23:00:00    Apple Airpods Headphones         59000

[240 rows x 5 columns]

In [39]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
new_df=df.set_index('Pur_Date')
d=new_df.last('10D')
print(d)

                     Order_Id Customer_Name  Customer_Id  \
Pur_Date
2020-02-11 15:00:00     10782        Harsha            5
2020-02-11 16:00:00     10783         Veeru            3
2020-02-11 17:00:00     10784         Vinay           10
2020-02-11 18:00:00     10785  Jaya Chandra           21
2020-02-11 19:00:00     10786        Shahid           20
...                       ...           ...          ...
2020-02-21 10:00:00     11017       Karteek            4
2020-02-21 11:00:00     11018         Vinay           10
2020-02-21 12:00:00     11019       Neelima           19
2020-02-21 13:00:00     11020        Siddhu           18
2020-02-21 14:00:00     11021         Tarun           11

                                 Product_Name  Product_Cost
Pur_Date
2020-02-11 15:00:00              Google Phone         75000
2020-02-11 16:00:00              Google Phone         61000
2020-02-11 17:00:00    34in Ultrawide Monitor         69999
2020-02-11 18:00:00           ThinkPad Laptop         50000
2020-02-11 19:00:00                 iPhone 11         51999
...                                       ...           ...
2020-02-21 10:00:00              20in Monitor         51999
2020-02-21 11:00:00  Apple Airpods Headphones         75999
2020-02-21 12:00:00    LG ThinQ Refrigerator          75999
2020-02-21 13:00:00                 iPhone 7s         65999
2020-02-21 14:00:00    34in Ultrawide Monitor         55000

[240 rows x 5 columns]

In [41]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
new_df=df.set_index('Pur_Date')
data=new_df.last('1M')
print(data)

                     Order_Id Customer_Name  Customer_Id  \
Pur_Date
2020-01-31 15:00:00     10518       Pradhan           17
2020-01-31 16:00:00     10519         Shafi           25
2020-01-31 17:00:00     10520         Veeru            3
2020-01-31 18:00:00     10521        Balaji           12
2020-01-31 19:00:00     10522       Pradhan           17
...                       ...           ...          ...
2020-02-21 10:00:00     11017       Karteek            4
2020-02-21 11:00:00     11018         Vinay           10
2020-02-21 12:00:00     11019       Neelima           19
2020-02-21 13:00:00     11020        Siddhu           18
2020-02-21 14:00:00     11021         Tarun           11

                                 Product_Name  Product_Cost
Pur_Date
2020-01-31 15:00:00    LG ThinQ Refrigerator          65999
2020-01-31 16:00:00        Samsung Galaxy S20         63000
2020-01-31 17:00:00    34in Ultrawide Monitor         59000
2020-01-31 18:00:00        Macbook Pro Laptop         50000
2020-01-31 19:00:00                 iPhone 7s         51999
...                                       ...           ...
2020-02-21 10:00:00              20in Monitor         51999
2020-02-21 11:00:00  Apple Airpods Headphones         75999
2020-02-21 12:00:00    LG ThinQ Refrigerator          75999
2020-02-21 13:00:00                 iPhone 7s         65999
2020-02-21 14:00:00    34in Ultrawide Monitor         55000

[504 rows x 5 columns]

In [42]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
new_df=df.set_index('Pur_Date')
data=new_df.last('1Y')
print(data)

                     Order_Id Customer_Name  Customer_Id  \
Pur_Date
2019-12-31 15:00:00      9774         Veeru            3
2019-12-31 16:00:00      9775         Shafi           25
2019-12-31 17:00:00      9776        Shahid           20
2019-12-31 18:00:00      9777         Venki           15
2019-12-31 19:00:00      9778       Sumanth           22
...                       ...           ...          ...
2020-02-21 10:00:00     11017       Karteek            4
2020-02-21 11:00:00     11018         Vinay           10
2020-02-21 12:00:00     11019       Neelima           19
2020-02-21 13:00:00     11020        Siddhu           18
2020-02-21 14:00:00     11021         Tarun           11

                                 Product_Name  Product_Cost
Pur_Date
2019-12-31 15:00:00          27in FHD Monitor         65999
2019-12-31 16:00:00    27in 4K Gaming Monitor         65999
2019-12-31 17:00:00        Samsung Galaxy S20         50000
2019-12-31 18:00:00    27in 4K Gaming Monitor         50000
2019-12-31 19:00:00              Google Phone         65999
...                                       ...           ...
2020-02-21 10:00:00              20in Monitor         51999
2020-02-21 11:00:00  Apple Airpods Headphones         75999
2020-02-21 12:00:00    LG ThinQ Refrigerator          75999
2020-02-21 13:00:00                 iPhone 7s         65999
2020-02-21 14:00:00    34in Ultrawide Monitor         55000

[1248 rows x 5 columns]

In [43]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
df["Year"]=df["Pur_Date"].dt.year
df["Month"]=df["Pur_Date"].dt.month
df["Day"]=df["Pur_Date"].dt.day
print(df.head())

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date  Year  Month  Day
0         59000 2019-01-01 00:00:00  2019      1    1
1         69000 2019-01-01 01:00:00  2019      1    1
2         65999 2019-01-01 02:00:00  2019      1    1
3         63999 2019-01-01 03:00:00  2019      1    1
4         63999 2019-01-01 04:00:00  2019      1    1

In [46]:
import pandas as pd
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
df["Hour"]=df["Pur_Date"].dt.hour
df["Minute"]=df["Pur_Date"].dt.minute
df["Second"]=df["Pur_Date"].dt.second
print(df.head())

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date  Hour  Minute  Second
0         59000 2019-01-01 00:00:00     0       0       0
1         69000 2019-01-01 01:00:00     1       0       0
2         65999 2019-01-01 02:00:00     2       0       0
3         63999 2019-01-01 03:00:00     3       0       0
4         63999 2019-01-01 04:00:00     4       0       0

In [52]:
import pandas as pd
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
new_df=df["Pur_Date"].dt.day_name()
print(df.head())
print()
print(new_df.head())

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
0         59000 2019-01-01 00:00:00
1         69000 2019-01-01 01:00:00
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

0    Tuesday
1    Tuesday
2    Tuesday
3    Tuesday
4    Tuesday
Name: Pur_Date, dtype: object

In [54]:
import pandas as pd
df=pd.read_csv("sales7_dates.csv",parse_dates=["Pur_Date"])
new_df=df["Pur_Date"].dt.weekday
print(df.head())
print()
print(new_df.head())

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost            Pur_Date
0         59000 2019-01-01 00:00:00
1         69000 2019-01-01 01:00:00
2         65999 2019-01-01 02:00:00
3         63999 2019-01-01 03:00:00
4         63999 2019-01-01 04:00:00

0    1
1    1
2    1
3    1
4    1
Name: Pur_Date, dtype: int32