<a href="https://colab.research.google.com/github/surekhavydyula4-cmd/Pandas/blob/main/Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded=files.upload()

Saving sales4.csv to sales4.csv

In [3]:
import pandas as pd
df=pd.read_csv("sales4.csv")
print(df.head())

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost
0         59000
1         69000
2         65999
3         63999
4         63999

In [5]:
#Fliter customer name
import pandas as pd
df=pd.read_csv("sales4.csv")
a=df["Customer_Name"]=="Venki"
df1=df[a]
print(df1)

        Order_Id Customer_Name  Customer_Id              Product_Name  \
0           1023         Venki           15          27in FHD Monitor
18          1041         Venki           15        Samsung Galaxy S20
43          1066         Venki           15              20in Monitor
55          1078         Venki           15                 iPhone 7s
123         1146         Venki           15              Google Phone
...          ...           ...          ...                       ...
299859    300882         Venki           15      Apple iPad 10.2-inch
299922    300945         Venki           15    LG ThinQ Refrigerator
299924    300947         Venki           15    LG ThinQ Refrigerator
299985    301008         Venki           15  Apple Airpods Headphones
299988    301011         Venki           15              Google Phone

        Product_Cost
0              59000
18             50000
43             59000
55             50000
123            55999
...              ...
299859         65999
299922         75999
299924         50000
299985         65999
299988         65999

[11957 rows x 5 columns]

In [6]:
#Fliter product name
import pandas as pd
df=pd.read_csv("sales4.csv")
a=df["Product_Name"]=="20in Monitor"
df1=df[a]
print(df1)

        Order_Id Customer_Name  Customer_Id  Product_Name  Product_Cost
8           1031         Kedar            2  20in Monitor         55999
33          1056       Karteek            4  20in Monitor         63000
42          1065     Madhurima            7  20in Monitor         75999
43          1066         Venki           15  20in Monitor         59000
70          1093    Nireekshan            1  20in Monitor         65000
...          ...           ...          ...           ...           ...
299887    300910    Nireekshan            1  20in Monitor         51999
299941    300964       Karteek            4  20in Monitor         51999
299960    300983        Siddhu           18  20in Monitor         59000
299980    301003    Chaithanya           14  20in Monitor         65000
299984    301007   Mallikarjun           13  20in Monitor         60000

[14863 rows x 5 columns]

In [7]:
#Filter Order id
import pandas as pd
df=pd.read_csv('sales4.csv')
a=df["Order_Id"]>1030
df1=df[a]
print(df1)

        Order_Id Customer_Name  Customer_Id            Product_Name  \
8           1031         Kedar            2            20in Monitor
9           1032       Neelima           19      LG Washing Machine
10          1033         Vijay            9               iPhone 7s
11          1034         Tarun           11      Samsung Galaxy S20
12          1035         Kedar            2            Google Phone
...          ...           ...          ...                     ...
299995    301018       Karteek            4    Apple iPad 10.2-inch
299996    301019         Veeru            3      Macbook Pro Laptop
299997    301020        Harsha            5      LG Washing Machine
299998    301021    Nireekshan            1               LG Mobile
299999    301022       Pradhan           17  34in Ultrawide Monitor

        Product_Cost
8              55999
9              63000
10             60000
11             69999
12             55999
...              ...
299995         51999
299996         51999
299997         65000
299998         60000
299999         55000

[299992 rows x 5 columns]

In [8]:
#fliter data using multiple conditions
import pandas as pd
df=pd.read_csv("sales4.csv")
a=df["Product_Name"]=="Samsung Galaxy S20"
b=df["Customer_Name"]=="Tarun"
df1=df[a&b]
print(df1)

        Order_Id Customer_Name  Customer_Id        Product_Name  Product_Cost
11          1034         Tarun           11  Samsung Galaxy S20         69999
368         1391         Tarun           11  Samsung Galaxy S20         69000
1790        2813         Tarun           11  Samsung Galaxy S20         50000
2148        3171         Tarun           11  Samsung Galaxy S20         75999
2574        3597         Tarun           11  Samsung Galaxy S20         69999
...          ...           ...          ...                 ...           ...
298965    299988         Tarun           11  Samsung Galaxy S20         63999
299377    300400         Tarun           11  Samsung Galaxy S20         50000
299392    300415         Tarun           11  Samsung Galaxy S20         75000
299523    300546         Tarun           11  Samsung Galaxy S20         55999
299982    301005         Tarun           11  Samsung Galaxy S20         69000

[630 rows x 5 columns]

In [9]:
#fliter data using multiple conditions
import pandas as pd
df=pd.read_csv("sales4.csv")
a=df["Product_Name"]=="Samsung Galaxy S20"
b=df["Customer_Id"]==1034
df1=df[a&b]
print(df1)

Empty DataFrame
Columns: [Order_Id, Customer_Name, Customer_Id, Product_Name, Product_Cost]
Index: []

In [12]:
#filter data using multiple conditions
import pandas as pd
df=pd.read_csv("sales4.csv")
a=df["Order_Id"]==1050
b=df['Customer_Id']==10
df1=df[a|b]
print(df1)

        Order_Id Customer_Name  Customer_Id              Product_Name  \
20          1043         Vinay           10  Apple Airpods Headphones
27          1050         Veeru            3                 LG Mobile
45          1068         Vinay           10    Samsung Galaxy S9 Plus
92          1115         Vinay           10              Google Phone
96          1119         Vinay           10        Samsung Galaxy S20
...          ...           ...          ...                       ...
299857    300880         Vinay           10              Google Phone
299872    300895         Vinay           10    LG ThinQ Refrigerator
299940    300963         Vinay           10    27in 4K Gaming Monitor
299971    300994         Vinay           10                 LG Mobile
299973    300996         Vinay           10    Samsung Galaxy S9 Plus

        Product_Cost
20             61000
27             51999
45             75999
92             69000
96             69000
...              ...
299857         65999
299872         63000
299940         61000
299971         51999
299973         75999

[12002 rows x 5 columns]

In [20]:
#filter using loc indexer
import pandas as pd
df=pd.read_csv("sales4.csv")
a=df["Customer_Id"]>24
df1=df.loc[a]
print(df1)

        Order_Id Customer_Name  Customer_Id                Product_Name  \
7           1030         Shafi           25            27in FHD Monitor
24          1047         Shafi           25          LG Washing Machine
44          1067         Shafi           25               Flatscreen TV
109         1132         Shafi           25          Macbook Pro Laptop
116         1139         Shafi           25                    iPhone 9
...          ...           ...          ...                         ...
299913    300936         Shafi           25      34in Ultrawide Monitor
299931    300954         Shafi           25          Samsung Galaxy S20
299944    300967         Shafi           25                   iPhone 7s
299947    300970         Shafi           25  Bose SoundSport Headphones
299983    301006         Shafi           25      27in 4K Gaming Monitor

        Product_Cost
7              63000
24             63999
44             69000
109            75999
116            55999
...              ...
299913         51999
299931         69000
299944         61000
299947         63999
299983         69000

[11958 rows x 5 columns]

In [21]:
#Filtering using loc indexer and multiple conditions
import pandas as pd
df=pd.read_csv("sales4.csv")
a=df["Customer_Name"]=="Tarun"
b=df["Order_Id"]>1640
df1=df.loc[a&b]
print(df1)

        Order_Id Customer_Name  Customer_Id                Product_Name  \
629         1652         Tarun           11                   LG Mobile
673         1696         Tarun           11      LG ThinQ Refrigerator
688         1711         Tarun           11  Bose SoundSport Headphones
689         1712         Tarun           11      27in 4K Gaming Monitor
722         1745         Tarun           11                   LG Mobile
...          ...           ...          ...                         ...
299959    300982         Tarun           11                    iPhone 9
299961    300984         Tarun           11            27in FHD Monitor
299969    300992         Tarun           11      34in Ultrawide Monitor
299982    301005         Tarun           11          Samsung Galaxy S20
299989    301012         Tarun           11             ThinkPad Laptop

        Product_Cost
629            69000
673            51999
688            50000
689            59000
722            50000
...              ...
299959         55999
299961         63999
299969         65999
299982         69000
299989         65000

[11936 rows x 5 columns]

In [22]:
#Filtering using loc indexer with multiple codtions
import pandas as pd
df=pd.read_csv("sales4.csv")
a=df["Product_Name"]=="iPhone 9"
b=df["Order_Id"]==1034
df1=df.loc[a|b]
print(df1)

        Order_Id Customer_Name  Customer_Id        Product_Name  Product_Cost
11          1034         Tarun           11  Samsung Galaxy S20         69999
86          1109          Venu           23            iPhone 9         51999
104         1127          Venu           23            iPhone 9         51999
116         1139         Shafi           25            iPhone 9         55999
121         1144         Vinay           10            iPhone 9         69999
...          ...           ...          ...                 ...           ...
299939    300962         Mohan           24            iPhone 9         50000
299945    300968     Madhurima            7            iPhone 9         65999
299948    300971        Daniel            6            iPhone 9         65999
299959    300982         Tarun           11            iPhone 9         55999
299993    301016        Siddhu           18            iPhone 9         59000

[15009 rows x 5 columns]

In [26]:
#Filtering with loc indexer and select with rows and ccolumns
import pandas as pd
df=pd.read_csv("sales4.csv")
r=df.index[0:]
c=["Customer_Id","Product_Name"]
df1=df.loc[r,c]
print(df1)

        Customer_Id                Product_Name
0                15            27in FHD Monitor
1                14                   iPhone 11
2                20  Bose SoundSport Headphones
3                 3        Apple iPad 10.2-inch
4                23                Google Phone
...             ...                         ...
299995            4        Apple iPad 10.2-inch
299996            3          Macbook Pro Laptop
299997            5          LG Washing Machine
299998            1                   LG Mobile
299999           17      34in Ultrawide Monitor

[300000 rows x 2 columns]

In [27]:
#Filtering with loc indexer and select with rows and ccolumns
import pandas as pd
df=pd.read_csv("sales4.csv")
r=df.index[0:5]
c=["Customer_Name","Product_Name"]
df1=df.loc[r,c]
print(df1)

  Customer_Name                Product_Name
0         Venki            27in FHD Monitor
1    Chaithanya                   iPhone 11
2        Shahid  Bose SoundSport Headphones
3         Veeru        Apple iPad 10.2-inch
4          Venu                Google Phone

In [29]:
#Filtering with loc indexer and select with rows and ccolumns
import pandas as pd
df=pd.read_csv("sales4.csv")
r=df.index[0:10]
df1=df.loc[r]
print(df1)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone
5      1028        Daniel            6      Samsung Galaxy S9 Plus
6      1029          Venu           23                   iPhone 11
7      1030         Shafi           25            27in FHD Monitor
8      1031         Kedar            2                20in Monitor
9      1032       Neelima           19          LG Washing Machine

   Product_Cost
0         59000
1         69000
2         65999
3         63999
4         63999
5         63999
6         61000
7         63000
8         55999
9         63000

In [32]:
#isin() method
import pandas as pd
df=pd.read_csv("sales4.csv")
a=["iPhone 11"]
b=df["Product_Name"].isin(a)
df1=df[b]
print(df1)

        Order_Id Customer_Name  Customer_Id Product_Name  Product_Cost
1           1024    Chaithanya           14    iPhone 11         69000
6           1029          Venu           23    iPhone 11         61000
26          1049        Shahid           20    iPhone 11         65999
34          1057         Tarun           11    iPhone 11         55999
48          1071          Venu           23    iPhone 11         65999
...          ...           ...          ...          ...           ...
299802    300825        Partha            8    iPhone 11         63000
299950    300973        Shahid           20    iPhone 11         75000
299954    300977     Madhurima            7    iPhone 11         75999
299956    300979       Neelima           19    iPhone 11         65999
299990    301013        Balaji           12    iPhone 11         65999

[14823 rows x 5 columns]

In [33]:
#isin() method
import pandas as pd
df=pd.read_csv("sales4.csv")
a=["Chaithanya"]
b=df["Customer_Name"].isin(a)
df1=df[b]
print(df1)

        Order_Id Customer_Name  Customer_Id              Product_Name  \
1           1024    Chaithanya           14                 iPhone 11
13          1036    Chaithanya           14    LG ThinQ Refrigerator
30          1053    Chaithanya           14                  iPhone 8
47          1070    Chaithanya           14  Apple Airpods Headphones
133         1156    Chaithanya           14        Samsung Galaxy S20
...          ...           ...          ...                       ...
299928    300951    Chaithanya           14              Google Phone
299930    300953    Chaithanya           14    Samsung Galaxy S9 Plus
299974    300997    Chaithanya           14        Macbook Pro Laptop
299980    301003    Chaithanya           14              20in Monitor
299992    301015    Chaithanya           14    27in 4K Gaming Monitor

        Product_Cost
1              69000
13             69999
30             60000
47             63999
133            55000
...              ...
299928         75999
299930         69999
299974         65999
299980         65000
299992         55999

[11965 rows x 5 columns]

In [34]:
# isin() method
import pandas as pd
d={
    "Order_id":[10,11,12,13],
    "Customer_Name":["Sai","Cherry","Suri","Paddu"],
    "Product_Name":["iPhone 11","macbook","Samsung Galaxy","iPhone 9"]
}
df=pd.DataFrame(d)
a=["Sai"]
b=df.Customer_Name.isin(a)
df1=df[b]
print(df1)

   Order_id Customer_Name Product_Name
0        10           Sai    iPhone 11

In [35]:
# unique() function
import pandas as pd
df=pd.read_csv("sales4.csv")
df1=pd.unique(df["Customer_Name"])
print(df1)

['Venki' 'Chaithanya' 'Shahid' 'Veeru' 'Venu' 'Daniel' 'Shafi' 'Kedar'
 'Neelima' 'Vijay' 'Tarun' 'Nireekshan' 'Karteek' 'Sumanth' 'Mallikarjun'
 'Vinay' 'Lavanya' 'Madhurima' 'Partha' 'Siddhu' 'Jaya Chandra' 'Balaji'
 'Pradhan' 'Harsha' 'Mohan']

In [36]:
# unique() function
import pandas as pd
df=pd.read_csv("sales4.csv")
df1=pd.unique(df["Order_Id"])
print(df1)

[  1023   1024   1025 ... 301020 301021 301022]

In [37]:
# notnull() method
import pandas as pd
d={
    "Order_id":[10,11,12,13],
    "Customer_Name":["Sai","Cherry","Suri","Paddu"],
    "Product_Name":["iPhone 11","macbook","Samsung Galaxy","iPhone 9"]
}
df=pd.DataFrame(d)
a=df.Product_Name.notnull()
df1=df[a]
print(df1)

   Order_id Customer_Name    Product_Name
0        10           Sai       iPhone 11
1        11        Cherry         macbook
2        12          Suri  Samsung Galaxy
3        13         Paddu        iPhone 9