<a href="https://colab.research.google.com/github/surekhavydyula4-cmd/Pandas/blob/main/Group_by.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded=files.upload()

Saving sales5.csv to sales5.csv

In [ ]:
#Creating Dataframe
import pandas as pd
df=pd.read_csv("sales5.csv")
print(df.head())

   Order_Id  Customer_Id              Mail_Id        Product_Name  \
0         1            1  nirekshan@gmail.com             Samsung
1         2            2      kedar@gmail.com            iPhone 8
2         3            3     Daniel@gmail.com  Kindle Paper White
3         4            4     prasad@gmail.com          hTC mobile
4         5            1  nirekshan@gmail.com             Samsung

   Product_Cost        Date
0         10000   11/6/2019
1         20000   11/6/2019
2         10000  10/31/2019
3         15000   11/2/2019
4         10000   11/2/2019

In [3]:
#Groupby date
import pandas as pd
df=pd.read_csv("sales5.csv")
g=df.groupby(["Date"])
r=g.size()
print(r)

Date
10/31/2019    1
11/10/2019    1
11/2/2019     3
11/6/2019     4
9/1/2019      1
9/2/2019      1
9/6/2019      4
dtype: int64

In [15]:
#Groupby date and product name
import pandas as pd
df=pd.read_csv("sales5.csv")
col=["Date","Product_Name"]
g=df.groupby(col)["Date"]
r=g.count()
print(r)

Date        Product_Name
10/31/2019  Kindle Paper White    1
11/10/2019  hTC mobile            1
11/2/2019   Samsung               2
            hTC mobile            1
11/6/2019   Samsung               1
            iPhone 8              2
            iPhone 9              1
9/1/2019    iPad                  1
9/2/2019    LG Washing Machine    1
9/6/2019    Kindle Paper White    2
            Sofa set              1
            iPhone 8              1
Name: Date, dtype: int64

In [19]:
#groupbt date and product name
import pandas as pd
df=pd.read_csv("sales5.csv")
col=["Product_Name","Date"]
g=df.groupby(col)
r=g.count()
print(r)

                               Order_Id  Customer_Id  Mail_Id  Product_Cost
Product_Name       Date
Kindle Paper White 10/31/2019         1            1        1             1
                   9/6/2019           2            2        2             2
LG Washing Machine 9/2/2019           1            1        1             1
Samsung            11/2/2019          2            2        2             2
                   11/6/2019          1            1        1             1
Sofa set           9/6/2019           1            1        1             1
hTC mobile         11/10/2019         1            1        1             1
                   11/2/2019          1            1        1             1
iPad               9/1/2019           1            1        1             1
iPhone 8           11/6/2019          2            2        2             2
                   9/6/2019           1            1        1             1
iPhone 9           11/6/2019          1            1        1             1

In [18]:
#Count of products on day-wise
import pandas as pd
df=pd.read_csv("sales5.csv")
col=["Product_Name","Date"]
g=df.groupby(col)["Date"]
r=g.count()
print(r)

Product_Name        Date
Kindle Paper White  10/31/2019    1
                    9/6/2019      2
LG Washing Machine  9/2/2019      1
Samsung             11/2/2019     2
                    11/6/2019     1
Sofa set            9/6/2019      1
hTC mobile          11/10/2019    1
                    11/2/2019     1
iPad                9/1/2019      1
iPhone 8            11/6/2019     2
                    9/6/2019      1
iPhone 9            11/6/2019     1
Name: Date, dtype: int64

In [20]:
#Count of products on days
import pandas as pd
df=pd.read_csv("sales5.csv")
col=["Product_Name","Date"]
g=df.groupby(col)["Product_Name"]
r=g.count()
print(r)

Product_Name        Date
Kindle Paper White  10/31/2019    1
                    9/6/2019      2
LG Washing Machine  9/2/2019      1
Samsung             11/2/2019     2
                    11/6/2019     1
Sofa set            9/6/2019      1
hTC mobile          11/10/2019    1
                    11/2/2019     1
iPad                9/1/2019      1
iPhone 8            11/6/2019     2
                    9/6/2019      1
iPhone 9            11/6/2019     1
Name: Product_Name, dtype: int64

In [21]:
#Count of products on days
import pandas as pd
df=pd.read_csv("sales5.csv")
col=["Date","Product_Name"]
g=df.groupby(col)["Date"]
r=g.count()
print(r)

Date        Product_Name
10/31/2019  Kindle Paper White    1
11/10/2019  hTC mobile            1
11/2/2019   Samsung               2
            hTC mobile            1
11/6/2019   Samsung               1
            iPhone 8              2
            iPhone 9              1
9/1/2019    iPad                  1
9/2/2019    LG Washing Machine    1
9/6/2019    Kindle Paper White    2
            Sofa set              1
            iPhone 8              1
Name: Date, dtype: int64

In [22]:
#Count of products on days
import pandas as pd
df=pd.read_csv("sales5.csv")
col=["Date","Product_Name"]
g=df.groupby(col)["Product_Name"]
r=g.count()
print(r)

Date        Product_Name
10/31/2019  Kindle Paper White    1
11/10/2019  hTC mobile            1
11/2/2019   Samsung               2
            hTC mobile            1
11/6/2019   Samsung               1
            iPhone 8              2
            iPhone 9              1
9/1/2019    iPad                  1
9/2/2019    LG Washing Machine    1
9/6/2019    Kindle Paper White    2
            Sofa set              1
            iPhone 8              1
Name: Product_Name, dtype: int64

In [26]:
#as_index keyword arguement
import pandas as pd
df=pd.read_csv("sales5.csv")
col=["Date"]
g=df.groupby(col,as_index=False)["Product_Name"]
r=g.count()
print(r)

         Date  Product_Name
0  10/31/2019             1
1  11/10/2019             1
2   11/2/2019             3
3   11/6/2019             4
4    9/1/2019             1
5    9/2/2019             1
6    9/6/2019             4

In [28]:
#Product cost
import pandas as pd
df=pd.read_csv("sales5.csv")
col=["Date","Product_Name"]
g=df.groupby(col,as_index=False)["Product_Cost"]
r=g.sum()
print(r)

          Date        Product_Name  Product_Cost
0   10/31/2019  Kindle Paper White         10000
1   11/10/2019          hTC mobile         15000
2    11/2/2019             Samsung         20000
3    11/2/2019          hTC mobile         15000
4    11/6/2019             Samsung         10000
5    11/6/2019            iPhone 8         40000
6    11/6/2019            iPhone 9         30000
7     9/1/2019                iPad         70000
8     9/2/2019  LG Washing Machine         25000
9     9/6/2019  Kindle Paper White         30000
10    9/6/2019            Sofa set         50000
11    9/6/2019            iPhone 8         20000

In [30]:
#Customer wise product sales
import pandas as pd
df=pd.read_csv("sales5.csv")
col=["Mail_Id","Product_Name"]
g=df.groupby(col)["Mail_Id"]
r=g.count()
print(r)

Mail_Id              Product_Name
Daniel@gmail.com     Kindle Paper White    2
                     Sofa set              1
kedar@gmail.com      iPhone 8              3
nirekshan@gmail.com  Kindle Paper White    1
                     Samsung               3
partha@gmail.com     iPhone 9              1
prasad@gmail.com     LG Washing Machine    1
                     hTC mobile            2
shahid@gmail.com     iPad                  1
Name: Mail_Id, dtype: int64

In [31]:
#Customer wise month sales
import pandas as pd
df=pd.read_csv("sales5.csv")
col=["Mail_Id","Date"]
g=df.groupby(col)["Mail_Id"]
r=g.count()
print(r)

Mail_Id              Date
Daniel@gmail.com     10/31/2019    1
                     9/6/2019      2
kedar@gmail.com      11/6/2019     2
                     9/6/2019      1
nirekshan@gmail.com  11/2/2019     2
                     11/6/2019     1
                     9/6/2019      1
partha@gmail.com     11/6/2019     1
prasad@gmail.com     11/10/2019    1
                     11/2/2019     1
                     9/2/2019      1
shahid@gmail.com     9/1/2019      1
Name: Mail_Id, dtype: int64

In [33]:
#customer wise product sales
import pandas as pd
df=pd.read_csv("sales5.csv")
col=["Mail_Id","Product_Name"]
g=df.groupby(col)["Product_Cost"]
r=g.sum()
print(r)

Mail_Id              Product_Name
Daniel@gmail.com     Kindle Paper White    20000
                     Sofa set              50000
kedar@gmail.com      iPhone 8              60000
nirekshan@gmail.com  Kindle Paper White    20000
                     Samsung               30000
partha@gmail.com     iPhone 9              30000
prasad@gmail.com     LG Washing Machine    25000
                     hTC mobile            30000
shahid@gmail.com     iPad                  70000
Name: Product_Cost, dtype: int64

In [35]:
#customer wise product details
import pandas as pd
df=pd.read_csv("sales5.csv")
col=["Mail_Id","Product_Name"]
g=df.groupby(col,as_index=False)["Product_Cost"]
r=g.sum()
print(r)

               Mail_Id        Product_Name  Product_Cost
0     Daniel@gmail.com  Kindle Paper White         20000
1     Daniel@gmail.com            Sofa set         50000
2      kedar@gmail.com            iPhone 8         60000
3  nirekshan@gmail.com  Kindle Paper White         20000
4  nirekshan@gmail.com             Samsung         30000
5     partha@gmail.com            iPhone 9         30000
6     prasad@gmail.com  LG Washing Machine         25000
7     prasad@gmail.com          hTC mobile         30000
8     shahid@gmail.com                iPad         70000

In [36]:
#customer wise sales
import pandas as pd
df=pd.read_csv("sales5.csv")
g=df.groupby(["Mail_Id"])["Product_Cost"]
r=g.sum()
print(r)

Mail_Id
Daniel@gmail.com       70000
kedar@gmail.com        60000
nirekshan@gmail.com    50000
partha@gmail.com       30000
prasad@gmail.com       55000
shahid@gmail.com       70000
Name: Product_Cost, dtype: int64

In [37]:
#Product wise sales
import pandas as pd
df=pd.read_csv("sales5.csv")
g=df.groupby(["Product_Name"])["Product_Cost"]
r=g.sum()
print(r)

Product_Name
Kindle Paper White    40000
LG Washing Machine    25000
Samsung               30000
Sofa set              50000
hTC mobile            30000
iPad                  70000
iPhone 8              60000
iPhone 9              30000
Name: Product_Cost, dtype: int64

In [38]:
#day wise sales
import pandas as pd
df=pd.read_csv("sales5.csv")
g=df.groupby(["Date"])["Product_Cost"]
r=g.sum()
print(r)

Date
10/31/2019     10000
11/10/2019     15000
11/2/2019      35000
11/6/2019      80000
9/1/2019       70000
9/2/2019       25000
9/6/2019      100000
Name: Product_Cost, dtype: int64

In [43]:
#Single function to columns inn group
import pandas as pd
df=pd.read_csv("sales5.csv")
d={
    "Product_Cost":sum
}
col=["Date","Product_Name"]
g=df.groupby(col)
r=g.agg(d)
print(r)

                               Product_Cost
Date       Product_Name
10/31/2019 Kindle Paper White         10000
11/10/2019 hTC mobile                 15000
11/2/2019  Samsung                    20000
           hTC mobile                 15000
11/6/2019  Samsung                    10000
           iPhone 8                   40000
           iPhone 9                   30000
9/1/2019   iPad                       70000
9/2/2019   LG Washing Machine         25000
9/6/2019   Kindle Paper White         30000
           Sofa set                   50000
           iPhone 8                   20000

/tmp/ipython-input-1695071972.py:9: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  r=g.agg(d)

In [46]:
#Single function to columns in group
import pandas as pd
df=pd.read_csv("sales5.csv")
d={
    "Product_Cost":sum,
    "Product_Name":"count"
}
col=["Date","Product_Name"]
g=df.groupby(col)
r=g.agg(d)
print(r)

                               Product_Cost  Product_Name
Date       Product_Name
10/31/2019 Kindle Paper White         10000             1
11/10/2019 hTC mobile                 15000             1
11/2/2019  Samsung                    20000             2
           hTC mobile                 15000             1
11/6/2019  Samsung                    10000             1
           iPhone 8                   40000             2
           iPhone 9                   30000             1
9/1/2019   iPad                       70000             1
9/2/2019   LG Washing Machine         25000             1
9/6/2019   Kindle Paper White         30000             2
           Sofa set                   50000             1
           iPhone 8                   20000             1

/tmp/ipython-input-997551450.py:10: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  r=g.agg(d)

In [47]:
#Single function to columns in group
import pandas as pd
df=pd.read_csv("sales5.csv")
d={
    "Product_Cost":sum,
    "Product_Name":"count"
}
col=["Mail_Id","Date"]
g=df.groupby(col)
r=g.agg(d)
print(r)

                                Product_Cost  Product_Name
Mail_Id             Date
Daniel@gmail.com    10/31/2019         10000             1
                    9/6/2019           60000             2
kedar@gmail.com     11/6/2019          40000             2
                    9/6/2019           20000             1
nirekshan@gmail.com 11/2/2019          20000             2
                    11/6/2019          10000             1
                    9/6/2019           20000             1
partha@gmail.com    11/6/2019          30000             1
prasad@gmail.com    11/10/2019         15000             1
                    11/2/2019          15000             1
                    9/2/2019           25000             1
shahid@gmail.com    9/1/2019           70000             1

/tmp/ipython-input-1746860097.py:10: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  r=g.agg(d)

In [49]:
#Single function to columns in group
import pandas as pd
df=pd.read_csv("sales5.csv")
d={
    "Product_Cost":[min,max,sum]
}
col=["Date","Product_Name"]
g=df.groupby(col)
r=g.agg(d)
print(r)

                              Product_Cost
                                       min    max    sum
Date       Product_Name
10/31/2019 Kindle Paper White        10000  10000  10000
11/10/2019 hTC mobile                15000  15000  15000
11/2/2019  Samsung                   10000  10000  20000
           hTC mobile                15000  15000  15000
11/6/2019  Samsung                   10000  10000  10000
           iPhone 8                  20000  20000  40000
           iPhone 9                  30000  30000  30000
9/1/2019   iPad                      70000  70000  70000
9/2/2019   LG Washing Machine        25000  25000  25000
9/6/2019   Kindle Paper White        10000  20000  30000
           Sofa set                  50000  50000  50000
           iPhone 8                  20000  20000  20000

/tmp/ipython-input-2085658744.py:9: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  r=g.agg(d)
/tmp/ipython-input-2085658744.py:9: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  r=g.agg(d)
/tmp/ipython-input-2085658744.py:9: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  r=g.agg(d)