<a href="https://colab.research.google.com/github/surekhavydyula4-cmd/Pandas/blob/main/Merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Creating dataframes
import pandas as pd
d1 = {
      "Id": [1, 2, 3, 4, 5, 6],
      "Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan",
      "Shafi", "Veeru"],
      "Subject": ["English", "Java", "Html", "Python", "C", "dot net"]
}

d2 = {
      "Id": [11, 12, 13, 14, 15, 16],
      "Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun", "Veeru"],
      "Subject": ["Java", "Html", "Cpp", "Python", "C", "dot net"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

print(df1)
print()
print(df2)

   Id        Name  Subject
0   1     Pradhan  English
1   2        Venu     Java
2   3   Madhurima     Html
3   4  Nireekshan   Python
4   5       Shafi        C
5   6       Veeru  dot net

   Id     Name  Subject
0  11    Srinu     Java
1  12  Sumanth     Html
2  13  Neelima      Cpp
3  14   Daniel   Python
4  15    Arjun        C
5  16    Veeru  dot net

In [5]:
#inner join
import pandas as pd
d1 = {
      "Id": [1, 2, 3, 4, 5, 6],
      "Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan","Shafi", "Veeru"],
      "Subject": ["English", "Java", "Html", "Python", "C", "dot net"]
}

d2 = {
      "Id": [11, 12, 13, 14, 15, 16],
      "Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun", "Veeru"],
      "Subject": ["Java", "Html", "Cpp", "Python", "C", "dot net"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

inn_join=pd.merge(df1,df2,on="Subject",how="inner")
print(inn_join)

   Id_x      Name_x  Subject  Id_y   Name_y
0     2        Venu     Java    11    Srinu
1     3   Madhurima     Html    12  Sumanth
2     4  Nireekshan   Python    14   Daniel
3     5       Shafi        C    15    Arjun
4     6       Veeru  dot net    16    Veeru

In [8]:
#left join
import pandas as pd
d1 = {
      "Id": [1, 2, 3, 4, 5, 6],
      "Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan","Shafi", "Veeru"],
      "Subject": ["English", "Java", "Html", "Python", "C", "dot net"]
}

d2 = {
      "Id": [11, 12, 13, 14, 15, 16],
      "Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun", "Veeru"],
      "Subject": ["Java", "Html", "Cpp", "Python", "C", "dot net"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

inn_join=pd.merge(df1,df2,on="Name",how="left")
print(inn_join)

   Id_x        Name Subject_x  Id_y Subject_y
0     1     Pradhan   English   NaN       NaN
1     2        Venu      Java   NaN       NaN
2     3   Madhurima      Html   NaN       NaN
3     4  Nireekshan    Python   NaN       NaN
4     5       Shafi         C   NaN       NaN
5     6       Veeru   dot net  16.0   dot net

In [7]:
#right join
import pandas as pd
d1 = {
      "Id": [1, 2, 3, 4, 5, 6],
      "Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan","Shafi", "Veeru"],
      "Subject": ["English", "Java", "Html", "Python", "C", "dot net"]
}

d2 = {
      "Id": [11, 12, 13, 14, 15, 16],
      "Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun", "Veeru"],
      "Subject": ["Java", "Html", "Cpp", "Python", "C", "dot net"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

inn_join=pd.merge(df1,df2,on="Name",how="right")
print(inn_join)

   Id_x     Name Subject_x  Id_y Subject_y
0   NaN    Srinu       NaN    11      Java
1   NaN  Sumanth       NaN    12      Html
2   NaN  Neelima       NaN    13       Cpp
3   NaN   Daniel       NaN    14    Python
4   NaN    Arjun       NaN    15         C
5   6.0    Veeru   dot net    16   dot net

In [9]:
#outer join
import pandas as pd
d1 = {
      "Id": [1, 2, 3, 4, 5, 6],
      "Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan","Shafi", "Veeru"],
      "Subject": ["English", "Java", "Html", "Python", "C", "dot net"]
}

d2 = {
      "Id": [11, 12, 13, 14, 15, 16],
      "Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun", "Veeru"],
      "Subject": ["Java", "Html", "Cpp", "Python", "C", "dot net"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

inn_join=pd.merge(df1,df2,on="Name",how="outer")
print(inn_join)

    Id_x        Name Subject_x  Id_y Subject_y
0    NaN       Arjun       NaN  15.0         C
1    NaN      Daniel       NaN  14.0    Python
2    3.0   Madhurima      Html   NaN       NaN
3    NaN     Neelima       NaN  13.0       Cpp
4    4.0  Nireekshan    Python   NaN       NaN
5    1.0     Pradhan   English   NaN       NaN
6    5.0       Shafi         C   NaN       NaN
7    NaN       Srinu       NaN  11.0      Java
8    NaN     Sumanth       NaN  12.0      Html
9    6.0       Veeru   dot net  16.0   dot net
10   2.0        Venu      Java   NaN       NaN

In [10]:
#one to one
import pandas as pd

d1 = {
    "Employee": ["Nireekshan", "Veeru", "Lavanya", "Pradhan"],
    "Group": ["Development", "Testing", "Testing", "HR"]
}

d2 = {
    "Employee": ["Lavanya", "Nireekshan", "Veeru", "Pradhan"],
    "Hire_date": [2010, 2012, 2014, 2016]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

one_one = pd.merge(df1, df2)

print(df1)
print()
print(df2)
print()
print(one_one)

     Employee        Group
0  Nireekshan  Development
1       Veeru      Testing
2     Lavanya      Testing
3     Pradhan           HR

     Employee  Hire_date
0     Lavanya       2010
1  Nireekshan       2012
2       Veeru       2014
3     Pradhan       2016

     Employee        Group  Hire_date
0  Nireekshan  Development       2012
1       Veeru      Testing       2014
2     Lavanya      Testing       2010
3     Pradhan           HR       2016

In [14]:
import pandas as pd

d1 = {
    "Employee": ["Nireekshan", "Veeru", "Lavanya", "Pradhan"],
    "Group": ["Development", "Testing", "Testing", "HR"]
}

d2 = {
    "Employee": ["Lavanya", "Nireekshan", "Veeru", "Pradhan"],
    "Hire_date": [2010, 2012, 2014, 2016]
}

d3 = {
    "Group": ["Testing", "Development", "HR"],
    "supervisor": ["Shafi", "Daniel", "Neelima"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)
df3 = pd.DataFrame(d3)

one_one = pd.merge(df1, df2)

many_one = pd.merge(one_one, df3)

print(many_one)

     Employee        Group  Hire_date supervisor
0  Nireekshan  Development       2012     Daniel
1       Veeru      Testing       2014      Shafi
2     Lavanya      Testing       2010      Shafi
3     Pradhan           HR       2016    Neelima

In [13]:
import pandas as pd

d1 = {
    "Employee": ["Nireekshan", "Veeru", "Lavanya", "Pradhan","Sai","Sri"],
    "Group": ["Development", "Testing", "Testing", "HR","Testing","Development"]
}

d2 = {
    "Employee": ["Lavanya", "Nireekshan", "Veeru", "Pradhan"],
    "Hire_date": [2010, 2012, 2014, 2016] ,
    "Group": ["Development", "Testing", "Testing", "HR"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)
df3 = pd.DataFrame(d3)

man_man = pd.merge(df1, df2)

print(man_man)

  Employee    Group  Hire_date
0    Veeru  Testing       2014
1  Pradhan       HR       2016

In [16]:
#Column wise merge
import pandas as pd

d1 = {
     "Id":[1, 2, 3, 4, 5, 6],
     "Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan","Shafi", "Veeru"],
     "Subject":["English", "Java", "Html", "Python", "C", "dotnet"]
}

d2 = {
     "Id":[11, 12, 13, 14, 15, 16],
     "Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun","Veeru"],
     "Subject":["Java", "Html", "Cpp", "Python", "C", "dotnet"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

col_mer=pd.merge(df1,df2,on="Subject")
print(col_mer)

   Id_x      Name_x Subject  Id_y   Name_y
0     2        Venu    Java    11    Srinu
1     3   Madhurima    Html    12  Sumanth
2     4  Nireekshan  Python    14   Daniel
3     5       Shafi       C    15    Arjun
4     6       Veeru  dotnet    16    Veeru

In [17]:
#Column wise merge
import pandas as pd

d1 = {
     "Id":[1, 2, 3, 4, 5, 6],
     "Name": ["Pradhan", "Venu", "Madhurima", "Nireekshan","Shafi", "Veeru"],
     "Subject":["English", "Java", "Html", "Python", "C", "dotnet"]
}

d2 = {
     "Id":[11, 12, 13, 14, 15, 16],
     "Name": ["Srinu", "Sumanth", "Neelima", "Daniel", "Arjun","Veeru"],
     "Subject":["Java", "Html", "Cpp", "Python", "C", "dotnet"]
}

df1 = pd.DataFrame(d1)
df2 = pd.DataFrame(d2)

col_mer=pd.merge(df1,df2,on=["Name","Subject"])
print(col_mer)

   Id_x   Name Subject  Id_y
0     6  Veeru  dotnet    16