<a href="https://colab.research.google.com/github/surekhavydyula4-cmd/Pandas/blob/main/DF_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#files uploading
from google.colab import files
uploaded=files.upload()

Saving sales1.csv to sales1.csv

In [ ]:
#dataframe creation
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df)

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

In [ ]:
#head()
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df)
print()
print(df.head())

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

In [ ]:
#tail()
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df)
print()
print(df.tail())

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

     Order ID Customer Name             Product  Quantity
595    167403        Balaji  Macbook Pro Laptop         1
596    167404       Lavanya     ThinkPad Laptop         1
597    167405          Venu       Flatscreen TV         1
598    167406        Siddhu         Samsung m20         2
599    167407         Tarun  LG Washing Machine         1

In [ ]:
#info()
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df)
print()
print(df.info())

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       600 non-null    int64
 1   Customer Name  600 non-null    object
 2   Product        600 non-null    object
 3   Quantity       600 non-null    int64
dtypes: int64(2), object(2)
memory usage: 18.9+ KB
None

In [ ]:
#describe()
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df)
print()
print(df.describe())

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

            Order ID    Quantity
count     600.000000  600.000000
mean   167122.751667    1.481667
std       164.948568    0.683454
min    166837.000000    1.000000
25%    166980.750000    1.000000
50%    167120.500000    1.000000
75%    167266.250000    2.000000
max    167409.000000    3.000000

In [ ]:
#count()
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df)
print()
print(df.count())

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

Order ID         600
Customer Name    600
Product          600
Quantity         600
dtype: int64

In [ ]:
#nunique()
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df)
print()
print(df.nunique())

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

Order ID         573
Customer Name     23
Product           21
Quantity           3
dtype: int64

In [ ]:
#access single column
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df)
print()
print(df.Product)

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

0      34in Ultrawide Monitor
1                 Samsung m10
2                20in Monitor
3                   iPhone 11
4          Macbook Pro Laptop
                ...
595        Macbook Pro Laptop
596           ThinkPad Laptop
597             Flatscreen TV
598               Samsung m20
599        LG Washing Machine
Name: Product, Length: 600, dtype: object

In [ ]:
#access single column
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df)
print()
print(df["Product"])

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

0      34in Ultrawide Monitor
1                 Samsung m10
2                20in Monitor
3                   iPhone 11
4          Macbook Pro Laptop
                ...
595        Macbook Pro Laptop
596           ThinkPad Laptop
597             Flatscreen TV
598               Samsung m20
599        LG Washing Machine
Name: Product, Length: 600, dtype: object

In [ ]:
#access multiple columns
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df)
print()
print(df[["Product","Customer Name"]])

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

                    Product Customer Name
0    34in Ultrawide Monitor         Veeru
1               Samsung m10         Tarun
2              20in Monitor         Kedar
3                 iPhone 11       Lavanya
4        Macbook Pro Laptop          Venu
..                      ...           ...
595      Macbook Pro Laptop        Balaji
596         ThinkPad Laptop       Lavanya
597           Flatscreen TV          Venu
598             Samsung m20        Siddhu
599      LG Washing Machine         Tarun

[600 rows x 2 columns]

In [ ]:
#rearrange the columns
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df)
print()
print(df[["Product","Order ID","Customer Name","Quantity"]])

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

                    Product  Order ID Customer Name  Quantity
0    34in Ultrawide Monitor    166837         Veeru         2
1               Samsung m10    166838         Tarun         3
2              20in Monitor    166839         Kedar         1
3                 iPhone 11    166840       Lavanya         3
4        Macbook Pro Laptop    166841          Venu         2
..                      ...       ...           ...       ...
595      Macbook Pro Laptop    167403        Balaji         1
596         ThinkPad Laptop    167404       Lavanya         1
597           Flatscreen TV    167405          Venu         1
598             Samsung m20    167406        Siddhu         2
599      LG Washing Machine    167407         Tarun         1

[600 rows x 4 columns]