<a href="https://colab.research.google.com/github/surekhavydyula4-cmd/Pandas/blob/main/Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import files
uploaded=files.upload()

Saving sales1.csv to sales1.csv

In [5]:
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df.head())

   Order ID Customer Name                 Product  Quantity
0    166837         Veeru  34in Ultrawide Monitor         2
1    166838         Tarun             Samsung m10         3
2    166839         Kedar            20in Monitor         1
3    166840       Lavanya               iPhone 11         3
4    166841          Venu      Macbook Pro Laptop         2

In [7]:
#Access single column
import pandas as pd
df=pd.read_csv("sales1.csv")
a=df.Product
print(a)

0      34in Ultrawide Monitor
1                 Samsung m10
2                20in Monitor
3                   iPhone 11
4          Macbook Pro Laptop
                ...
595        Macbook Pro Laptop
596           ThinkPad Laptop
597             Flatscreen TV
598               Samsung m20
599        LG Washing Machine
Name: Product, Length: 600, dtype: object

In [8]:
#Access single column
import pandas as pd
df=pd.read_csv("sales1.csv")
print(df["Product"])

0      34in Ultrawide Monitor
1                 Samsung m10
2                20in Monitor
3                   iPhone 11
4          Macbook Pro Laptop
                ...
595        Macbook Pro Laptop
596           ThinkPad Laptop
597             Flatscreen TV
598               Samsung m20
599        LG Washing Machine
Name: Product, Length: 600, dtype: object

In [10]:
#Access multiple columns
import pandas as pd
df=pd.read_csv("sales1.csv")
a=df[["Product","Quantity"]]
print(a)

                    Product  Quantity
0    34in Ultrawide Monitor         2
1               Samsung m10         3
2              20in Monitor         1
3                 iPhone 11         3
4        Macbook Pro Laptop         2
..                      ...       ...
595      Macbook Pro Laptop         1
596         ThinkPad Laptop         1
597           Flatscreen TV         1
598             Samsung m20         2
599      LG Washing Machine         1

[600 rows x 2 columns]

In [11]:
#Find total of column
import pandas as pd
df=pd.read_csv("sales1.csv")
a=df["Quantity"].sum()
print(a)

889

In [12]:
#Access specific column elements
import pandas as pd
df=pd.read_csv("sales1.csv")
a=df["Product"]=="iPhone 11"
print(a)

0      False
1      False
2      False
3       True
4      False
       ...
595    False
596    False
597    False
598    False
599    False
Name: Product, Length: 600, dtype: bool

In [13]:
#Access specific column elements
import pandas as pd
df=pd.read_csv("sales1.csv")
a=df["Product"]=="iPhone 11"
print(df[a])

     Order ID Customer Name    Product  Quantity
3      166840       Lavanya  iPhone 11         3
9      166846        Siddhu  iPhone 11         1
22     166858    Chaithanya  iPhone 11         1
41     166877       Neelima  iPhone 11         1
68     166904       Lavanya  iPhone 11         1
90     166925    Chaithanya  iPhone 11         2
131    166966       Karteek  iPhone 11         1
181    167010    Chaithanya  iPhone 11         3
185    167014         Sagar  iPhone 11         3
223    167048       Sumanth  iPhone 11         1
230    167055         Sagar  iPhone 11         1
236    167061        Siddhu  iPhone 11         1
248    167072         Tarun  iPhone 11         1
278    167101        Balaji  iPhone 11         2
282    167104         Vijay  iPhone 11         2
317    167137       Pradhan  iPhone 11         1
411    167229       Pradhan  iPhone 11         1
428    167246   Mallikarjun  iPhone 11         2
441    167258    Nireekshan  iPhone 11         1
443    167260       Karteek  iPhone 11         2
450    167267        Shahid  iPhone 11         1
452    167268          Venu  iPhone 11         1
459    167275          Venu  iPhone 11         2
478    167292        Harsha  iPhone 11         1
491    167304         Veeru  iPhone 11         1
498    167311         Sagar  iPhone 11         1
559    167369         Sagar  iPhone 11         1
570    167379     Madhurima  iPhone 11         2
593    167401   Mallikarjun  iPhone 11         1

In [16]:
#iloc indexer
import pandas as pd
df=pd.read_csv("sales1.csv")
df1=df.iloc[1]
print(df1)

Order ID              166838
Customer Name          Tarun
Product          Samsung m10
Quantity                   3
Name: 1, dtype: object

In [17]:
#iloc indexer reverse index
import pandas as pd
df=pd.read_csv("sales1.csv")
df1=df.iloc[-1]
print(df1)

Order ID                     167407
Customer Name                 Tarun
Product          LG Washing Machine
Quantity                          1
Name: 599, dtype: object

In [18]:
#iloc indexer
import pandas as pd
df=pd.read_csv("sales1.csv")
df1=df.iloc[1:10]
print(df1)

   Order ID Customer Name                     Product  Quantity
1    166838         Tarun                 Samsung m10         3
2    166839         Kedar                20in Monitor         1
3    166840       Lavanya                   iPhone 11         3
4    166841          Venu          Macbook Pro Laptop         2
5    166842          Venu  Bose SoundSport Headphones         2
6    166843        Harsha      27in 4K Gaming Monitor         2
7    166844        Harsha                 Samsung m10         1
8    166845        Siddhu      34in Ultrawide Monitor         2
9    166846        Siddhu                   iPhone 11         1

In [19]:
#iloc indexer
import pandas as pd
df=pd.read_csv("sales1.csv")
df1=df.iloc[:100]
print(df1)

    Order ID Customer Name                     Product  Quantity
0     166837         Veeru      34in Ultrawide Monitor         2
1     166838         Tarun                 Samsung m10         3
2     166839         Kedar                20in Monitor         1
3     166840       Lavanya                   iPhone 11         3
4     166841          Venu          Macbook Pro Laptop         2
..       ...           ...                         ...       ...
95    166930          Venu  Bose SoundSport Headphones         1
96    166931     Madhurima      27in 4K Gaming Monitor         1
97    166932        Shahid        USB-C Charging Cable         1
98    166933        Shahid                 Samsung m10         2
99    166934       Karteek       AA Batteries (4-pack)         3

[100 rows x 4 columns]

In [20]:
#iloc indexer
import pandas as pd
df=pd.read_csv("sales1.csv")
df1=df.iloc[1:]
print(df1)

     Order ID Customer Name                     Product  Quantity
1      166838         Tarun                 Samsung m10         3
2      166839         Kedar                20in Monitor         1
3      166840       Lavanya                   iPhone 11         3
4      166841          Venu          Macbook Pro Laptop         2
5      166842          Venu  Bose SoundSport Headphones         2
..        ...           ...                         ...       ...
595    167403        Balaji          Macbook Pro Laptop         1
596    167404       Lavanya             ThinkPad Laptop         1
597    167405          Venu               Flatscreen TV         1
598    167406        Siddhu                 Samsung m20         2
599    167407         Tarun          LG Washing Machine         1

[599 rows x 4 columns]

In [21]:
#iloc indexer
import pandas as pd
df=pd.read_csv("sales1.csv")
df1=df.iloc[:,2]
print(df1)

0      34in Ultrawide Monitor
1                 Samsung m10
2                20in Monitor
3                   iPhone 11
4          Macbook Pro Laptop
                ...
595        Macbook Pro Laptop
596           ThinkPad Laptop
597             Flatscreen TV
598               Samsung m20
599        LG Washing Machine
Name: Product, Length: 600, dtype: object

In [22]:
#iloc indexer
import pandas as pd
df=pd.read_csv("sales1.csv")
df1=df.iloc[:,2:4]
print(df1)

                    Product  Quantity
0    34in Ultrawide Monitor         2
1               Samsung m10         3
2              20in Monitor         1
3                 iPhone 11         3
4        Macbook Pro Laptop         2
..                      ...       ...
595      Macbook Pro Laptop         1
596         ThinkPad Laptop         1
597           Flatscreen TV         1
598             Samsung m20         2
599      LG Washing Machine         1

[600 rows x 2 columns]

In [23]:
#iloc indexer
import pandas as pd
df=pd.read_csv("sales1.csv")
df1=df.iloc[:,0:]
print(df1)

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

In [24]:
#iloc indexer
import pandas as pd
df=pd.read_csv("sales1.csv")
df1=df.iloc[:,:]
print(df1)

     Order ID Customer Name                 Product  Quantity
0      166837         Veeru  34in Ultrawide Monitor         2
1      166838         Tarun             Samsung m10         3
2      166839         Kedar            20in Monitor         1
3      166840       Lavanya               iPhone 11         3
4      166841          Venu      Macbook Pro Laptop         2
..        ...           ...                     ...       ...
595    167403        Balaji      Macbook Pro Laptop         1
596    167404       Lavanya         ThinkPad Laptop         1
597    167405          Venu           Flatscreen TV         1
598    167406        Siddhu             Samsung m20         2
599    167407         Tarun      LG Washing Machine         1

[600 rows x 4 columns]

In [25]:
#iloc indexer
import pandas as pd
df=pd.read_csv("sales1.csv")
df1=df.iloc[0,:]
print(df1)

Order ID                         166837
Customer Name                     Veeru
Product          34in Ultrawide Monitor
Quantity                              2
Name: 0, dtype: object

In [26]:
#iloc indexer
import pandas as pd
df=pd.read_csv("sales1.csv")
df1=df.iloc[:,:3]
print(df1)

     Order ID Customer Name                 Product
0      166837         Veeru  34in Ultrawide Monitor
1      166838         Tarun             Samsung m10
2      166839         Kedar            20in Monitor
3      166840       Lavanya               iPhone 11
4      166841          Venu      Macbook Pro Laptop
..        ...           ...                     ...
595    167403        Balaji      Macbook Pro Laptop
596    167404       Lavanya         ThinkPad Laptop
597    167405          Venu           Flatscreen TV
598    167406        Siddhu             Samsung m20
599    167407         Tarun      LG Washing Machine

[600 rows x 3 columns]

In [27]:
from google.colab import files
uploaded=files.upload()

Saving sales2.csv to sales2.csv

In [28]:
import pandas as pd
df=pd.read_csv("sales2.csv")
print(df)

     Order id Customer name  Customer id                Product name  \
0      192837        Partha            8        Apple iPad 10.2-inch
1      192838         Vinay           10               Flatscreen TV
2      192839       Lavanya           16                20in Monitor
3      192840         Mohan           24  Bose SoundSport Headphones
4      192841         Kedar            2                Google Phone
..        ...           ...          ...                         ...
895    193732        Balaji           12          Samsung Galaxy S20
896    193733       Neelima           19      27in 4K Gaming Monitor
897    193734        Siddhu           18                Google Phone
898    193735         Vinay           10                20in Monitor
899    193736     Madhurima            7            27in FHD Monitor

     Product cost
0           59000
1           65999
2           75000
3           55000
4           59000
..            ...
895         60000
896         75999
897         69999
898         69999
899         55999

[900 rows x 5 columns]

In [29]:
#set_index
import pandas as pd
df=pd.read_csv("sales2.csv")
df.set_index("Product name",inplace=True)
print(df)

                            Order id Customer name  Customer id  Product cost
Product name
Apple iPad 10.2-inch          192837        Partha            8         59000
Flatscreen TV                 192838         Vinay           10         65999
20in Monitor                  192839       Lavanya           16         75000
Bose SoundSport Headphones    192840         Mohan           24         55000
Google Phone                  192841         Kedar            2         59000
...                              ...           ...          ...           ...
Samsung Galaxy S20            193732        Balaji           12         60000
27in 4K Gaming Monitor        193733       Neelima           19         75999
Google Phone                  193734        Siddhu           18         69999
20in Monitor                  193735         Vinay           10         69999
27in FHD Monitor              193736     Madhurima            7         55999

[900 rows x 4 columns]

In [30]:
#loc to access specific product
import pandas as pd
df=pd.read_csv("sales2.csv")
df.set_index("Product name",inplace=True)
a="Bose SoundSport Headphones"
df1=df.loc[a]
print(df1)

                            Order id Customer name  Customer id  Product cost
Product name
Bose SoundSport Headphones    192840         Mohan           24         55000
Bose SoundSport Headphones    192851          Venu           23         51999
Bose SoundSport Headphones    192871     Madhurima            7         69999
Bose SoundSport Headphones    192924         Venki           15         50000
Bose SoundSport Headphones    192968       Karteek            4         65000
Bose SoundSport Headphones    192973  Jaya Chandra           21         59000
Bose SoundSport Headphones    193081         Kedar            2         61000
Bose SoundSport Headphones    193085        Partha            8         55000
Bose SoundSport Headphones    193117         Vijay            9         69000
Bose SoundSport Headphones    193120        Shahid           20         75999
Bose SoundSport Headphones    193192   Mallikarjun           13         65999
Bose SoundSport Headphones    193258    Nireekshan            1         55000
Bose SoundSport Headphones    193276         Tarun           11         55999
Bose SoundSport Headphones    193285       Pradhan           17         65999
Bose SoundSport Headphones    193305    Nireekshan            1         61000
Bose SoundSport Headphones    193306        Harsha            5         61000
Bose SoundSport Headphones    193335         Mohan           24         59000
Bose SoundSport Headphones    193371        Balaji           12         65000
Bose SoundSport Headphones    193384   Mallikarjun           13         61000
Bose SoundSport Headphones    193388         Mohan           24         61000
Bose SoundSport Headphones    193397       Lavanya           16         65999
Bose SoundSport Headphones    193435        Siddhu           18         51999
Bose SoundSport Headphones    193441        Siddhu           18         50000
Bose SoundSport Headphones    193492         Mohan           24         75999
Bose SoundSport Headphones    193511         Mohan           24         50000
Bose SoundSport Headphones    193557    Nireekshan            1         61000
Bose SoundSport Headphones    193560        Harsha            5         69000
Bose SoundSport Headphones    193596        Partha            8         65999
Bose SoundSport Headphones    193630         Shafi            3         65999
Bose SoundSport Headphones    193668         Kedar            2         50000
Bose SoundSport Headphones    193669       Neelima           19         63000

In [31]:
#loc to access multiple products
import pandas as pd
df=pd.read_csv("sales2.csv")
df.set_index('Product name',inplace=True)
a=["Flatscreen TV","Samsung Galaxy S20"]
df1=df.loc[a]
print(df1)

                    Order id Customer name  Customer id  Product cost
Product name
Flatscreen TV         192838         Vinay           10         65999
Flatscreen TV         192847       Lavanya           16         63999
Flatscreen TV         192886       Neelima           19         63999
Flatscreen TV         192901        Harsha            5         65999
Flatscreen TV         192928       Neelima           19         60000
...                      ...           ...          ...           ...
Samsung Galaxy S20    193652         Kedar            2         65000
Samsung Galaxy S20    193689         Venki           15         61000
Samsung Galaxy S20    193704   Mallikarjun           13         75000
Samsung Galaxy S20    193722          Venu           23         69999
Samsung Galaxy S20    193732        Balaji           12         60000

[86 rows x 4 columns]

In [34]:
#loc to access specific product and columns
import pandas as pd
df=pd.read_csv("sales2.csv")
df.set_index("Product name",inplace=True)
a="Samsung Galaxy S20"
b="Order id"
df1=df.loc[a,b]
print(df1)

Product name
Samsung Galaxy S20    192848
Samsung Galaxy S20    192913
Samsung Galaxy S20    192935
Samsung Galaxy S20    192941
Samsung Galaxy S20    192943
Samsung Galaxy S20    192955
Samsung Galaxy S20    193031
Samsung Galaxy S20    193057
Samsung Galaxy S20    193078
Samsung Galaxy S20    193083
Samsung Galaxy S20    193097
Samsung Galaxy S20    193114
Samsung Galaxy S20    193130
Samsung Galaxy S20    193134
Samsung Galaxy S20    193135
Samsung Galaxy S20    193217
Samsung Galaxy S20    193241
Samsung Galaxy S20    193284
Samsung Galaxy S20    193295
Samsung Galaxy S20    193300
Samsung Galaxy S20    193312
Samsung Galaxy S20    193368
Samsung Galaxy S20    193381
Samsung Galaxy S20    193390
Samsung Galaxy S20    193402
Samsung Galaxy S20    193428
Samsung Galaxy S20    193459
Samsung Galaxy S20    193467
Samsung Galaxy S20    193497
Samsung Galaxy S20    193504
Samsung Galaxy S20    193526
Samsung Galaxy S20    193559
Samsung Galaxy S20    193567
Samsung Galaxy S20    193582
Samsung Galaxy S20    193625
Samsung Galaxy S20    193652
Samsung Galaxy S20    193689
Samsung Galaxy S20    193704
Samsung Galaxy S20    193722
Samsung Galaxy S20    193732
Name: Order id, dtype: int64

In [35]:
#loc to access multiple products and multiple columns
import pandas as pd
df=pd.read_csv("sales2.csv")
df.set_index("Product name",inplace=True)
a=["Flatscreen TV","Samsung Galaxy S20"]
b=["Customer name","Customer id"]
df1=df.loc[a,b]
print(df1)

                   Customer name  Customer id
Product name
Flatscreen TV              Vinay           10
Flatscreen TV            Lavanya           16
Flatscreen TV            Neelima           19
Flatscreen TV             Harsha            5
Flatscreen TV            Neelima           19
...                          ...          ...
Samsung Galaxy S20         Kedar            2
Samsung Galaxy S20         Venki           15
Samsung Galaxy S20   Mallikarjun           13
Samsung Galaxy S20          Venu           23
Samsung Galaxy S20        Balaji           12

[86 rows x 2 columns]

In [37]:
#loc to access particular prodcuts and columns using slice
import pandas as pd
df=pd.read_csv("sales2.csv")
df.set_index("Product name",inplace=True)
a=["Flatscreen TV","Samsung Galaxy S20"]
df1=df.loc[a,"Order id":"Customer id"]
print(df1)

                    Order id Customer name  Customer id
Product name
Flatscreen TV         192838         Vinay           10
Flatscreen TV         192847       Lavanya           16
Flatscreen TV         192886       Neelima           19
Flatscreen TV         192901        Harsha            5
Flatscreen TV         192928       Neelima           19
...                      ...           ...          ...
Samsung Galaxy S20    193652         Kedar            2
Samsung Galaxy S20    193689         Venki           15
Samsung Galaxy S20    193704   Mallikarjun           13
Samsung Galaxy S20    193722          Venu           23
Samsung Galaxy S20    193732        Balaji           12

[86 rows x 3 columns]

In [40]:
#loc to access particular prodcuts and columns using slice
import pandas as pd
df=pd.read_csv("sales2.csv")
df.set_index("Product name",inplace=True)
a=["Flatscreen TV","Samsung Galaxy S20"]
df1=df.loc[a,"Customer name":"Product cost"]
print(df1)

                   Customer name  Customer id  Product cost
Product name
Flatscreen TV              Vinay           10         65999
Flatscreen TV            Lavanya           16         63999
Flatscreen TV            Neelima           19         63999
Flatscreen TV             Harsha            5         65999
Flatscreen TV            Neelima           19         60000
...                          ...          ...           ...
Samsung Galaxy S20         Kedar            2         65000
Samsung Galaxy S20         Venki           15         61000
Samsung Galaxy S20   Mallikarjun           13         75000
Samsung Galaxy S20          Venu           23         69999
Samsung Galaxy S20        Balaji           12         60000

[86 rows x 3 columns]

In [49]:
#loc with boolean indexing
import pandas as pd
df=pd.read_csv("sales2.csv")
a=df["Product name"]=="Samsung Galaxy S20"
df1=df.loc[a]
print(df1)

     Order id Customer name  Customer id        Product name  Product cost
11     192848       Pradhan           17  Samsung Galaxy S20         63000
76     192913   Mallikarjun           13  Samsung Galaxy S20         69000
98     192935        Balaji           12  Samsung Galaxy S20         61000
104    192941        Balaji           12  Samsung Galaxy S20         69000
106    192943        Siddhu           18  Samsung Galaxy S20         75999
118    192955         Mohan           24  Samsung Galaxy S20         69999
194    193031         Vijay            9  Samsung Galaxy S20         60000
220    193057       Pradhan           17  Samsung Galaxy S20         63999
241    193078    Chaithanya           14  Samsung Galaxy S20         69999
246    193083         Shafi            3  Samsung Galaxy S20         55999
260    193097         Tarun           11  Samsung Galaxy S20         69000
277    193114         Tarun           11  Samsung Galaxy S20         59000
293    193130  Jaya Chandra           21  Samsung Galaxy S20         65999
297    193134        Partha            8  Samsung Galaxy S20         55000
298    193135         Vijay            9  Samsung Galaxy S20         65000
380    193217         Vinay           10  Samsung Galaxy S20         63000
404    193241       Karteek            4  Samsung Galaxy S20         69000
447    193284        Balaji           12  Samsung Galaxy S20         75000
458    193295         Kedar            2  Samsung Galaxy S20         69999
463    193300         Mohan           24  Samsung Galaxy S20         65000
475    193312    Chaithanya           14  Samsung Galaxy S20         69999
531    193368       Pradhan           17  Samsung Galaxy S20         60000
544    193381    Chaithanya           14  Samsung Galaxy S20         61000
553    193390  Jaya Chandra           21  Samsung Galaxy S20         50000
565    193402  Jaya Chandra           21  Samsung Galaxy S20         63000
591    193428         Sagar            6  Samsung Galaxy S20         63999
622    193459         Sagar            6  Samsung Galaxy S20         75000
630    193467       Lavanya           16  Samsung Galaxy S20         63000
660    193497       Karteek            4  Samsung Galaxy S20         63999
667    193504         Tarun           11  Samsung Galaxy S20         65999
689    193526        Shahid           20  Samsung Galaxy S20         65000
722    193559   Mallikarjun           13  Samsung Galaxy S20         65999
730    193567        Balaji           12  Samsung Galaxy S20         69999
745    193582         Vijay            9  Samsung Galaxy S20         55000
788    193625         Kedar            2  Samsung Galaxy S20         65999
815    193652         Kedar            2  Samsung Galaxy S20         65000
852    193689         Venki           15  Samsung Galaxy S20         61000
867    193704   Mallikarjun           13  Samsung Galaxy S20         75000
885    193722          Venu           23  Samsung Galaxy S20         69999
895    193732        Balaji           12  Samsung Galaxy S20         60000

In [48]:
# loc with n=boolean indexing to access multiple products
import pandas as pd
df=pd.read_csv("sales2.csv")
a=df["Product name"]=="Flatscreen TV"
df1=df.loc[a,"Order id":"Customer name"]
print(df1)

     Order id Customer name
1      192838         Vinay
10     192847       Lavanya
49     192886       Neelima
64     192901        Harsha
91     192928       Neelima
107    192944         Vijay
113    192950    Chaithanya
130    192967         Venki
166    193003        Balaji
169    193006     Madhurima
202    193039       Sumanth
210    193047        Balaji
256    193093       Pradhan
261    193098        Shahid
269    193106       Neelima
305    193142        Harsha
309    193146         Kedar
326    193163       Neelima
332    193169         Tarun
342    193179        Shahid
350    193187        Harsha
375    193212    Nireekshan
391    193228          Venu
479    193316         Venki
488    193325    Chaithanya
522    193359        Shahid
535    193372       Pradhan
579    193416       Neelima
585    193422    Nireekshan
587    193424         Vinay
588    193425        Partha
612    193449       Pradhan
615    193452       Sumanth
617    193454         Vinay
626    193463         Kedar
650    193487        Siddhu
675    193512         Tarun
687    193524       Karteek
688    193525       Neelima
716    193553         Tarun
733    193570        Partha
735    193572       Neelima
776    193613         Shafi
791    193628        Harsha
844    193681         Venki
877    193714         Mohan

In [47]:
#loc with boolean indexing to accees specific customer details
import pandas as pd
df=pd.read_csv("sales2.csv")
a=df["Customer name"]=="Tarun"
print(df.loc[a,"Order id":"Product cost"])

     Order id Customer name  Customer id                Product name  \
16     192853         Tarun           11                         NaN
20     192857         Tarun           11      27in 4K Gaming Monitor
36     192873         Tarun           11      LG ThinQ Refrigerator
43     192880         Tarun           11      34in Ultrawide Monitor
57     192894         Tarun           11    Apple Airpods Headphones
59     192896         Tarun           11                         NaN
99     192936         Tarun           11                   iPhone 7s
102    192939         Tarun           11                    iPhone 9
120    192957         Tarun           11            27in FHD Monitor
179    193016         Tarun           11                Google Phone
183    193020         Tarun           11                    iPhone 8
238    193075         Tarun           11                   LG Mobile
257    193094         Tarun           11                    iPhone 8
260    193097         Tarun           11          Samsung Galaxy S20
277    193114         Tarun           11          Samsung Galaxy S20
315    193152         Tarun           11          Macbook Pro Laptop
318    193155         Tarun           11                   iPhone 7s
332    193169         Tarun           11               Flatscreen TV
352    193189         Tarun           11                20in Monitor
378    193215         Tarun           11                    iPhone 9
416    193253         Tarun           11             ThinkPad Laptop
439    193276         Tarun           11  Bose SoundSport Headphones
440    193277         Tarun           11        Apple iPad 10.2-inch
460    193297         Tarun           11                         NaN
465    193302         Tarun           11      LG ThinQ Refrigerator
485    193322         Tarun           11      34in Ultrawide Monitor
511    193348         Tarun           11                    iPhone 9
562    193399         Tarun           11                20in Monitor
569    193406         Tarun           11      LG ThinQ Refrigerator
586    193423         Tarun           11        Apple iPad 10.2-inch
634    193471         Tarun           11    Apple Airpods Headphones
646    193483         Tarun           11                Google Phone
657    193494         Tarun           11                Google Phone
667    193504         Tarun           11          Samsung Galaxy S20
675    193512         Tarun           11               Flatscreen TV
679    193516         Tarun           11            27in FHD Monitor
683    193520         Tarun           11        Apple iPad 10.2-inch
716    193553         Tarun           11               Flatscreen TV
765    193602         Tarun           11    Apple Airpods Headphones
790    193627         Tarun           11                         NaN
864    193701         Tarun           11        Apple iPad 10.2-inch
866    193703         Tarun           11        Apple iPad 10.2-inch
894    193731         Tarun           11                    iPhone 8

     Product cost
16          69999
20          61000
36          55000
43          50000
57          61000
59          55999
99          65999
102         55999
120         75000
179         63000
183         59000
238         55000
257         75000
260         69000
277         59000
315         65000
318         61000
332         55999
352         51999
378         75000
416         59000
439         55999
440         69000
460         61000
465         75000
485         63000
511         61000
562         51999
569         60000
586         61000
634         69999
646         65000
657         65999
667         65999
675         75999
679         69999
683         63999
716         60000
765         63999
790         63999
864         65999
866         55999
894         69999