<a href="https://colab.research.google.com/github/surekhavydyula4-cmd/Pandas/blob/main/S_attributes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Series Creation
import pandas as pd
p=[20000,20000,100000,70000]
m=["Redmi","Oppo","iPhone","Samsung"]
s=pd.Series(p,index=m,name="Mobiles")
print(s)

Redmi       20000
Oppo        20000
iPhone     100000
Samsung     70000
Name: Mobiles, dtype: int64

In [ ]:
#dtypes
import pandas as pd
p=[20000,20000,100000,70000]
s=pd.Series(p,name="Price")
print(s)
print()
print(s.dtypes)

0     20000
1     20000
2    100000
3     70000
Name: Price, dtype: int64

int64

In [ ]:
#dtypes
import pandas as pd
m=["Redmi","Oppo","iPhone","Samsung"]
s=pd.Series(m,name="Mobiles")
print(s)
print()
print(s.dtypes)

0      Redmi
1       Oppo
2     iPhone
3    Samsung
Name: Mobiles, dtype: object

object

In [ ]:
#dtypes
import pandas as pd
p=[20000.0,20000.0,100000.02,70000.50]
s=pd.Series(p,index=m,name="Salaries")
print(s)
print()
print(s.dtypes)

Redmi       20000.00
Oppo        20000.00
iPhone     100000.02
Samsung     70000.50
Name: Salaries, dtype: float64

float64

In [ ]:
#size
import pandas as pd
m=["Redmi","Oppo","iPhone","Samsung"]
s=pd.Series(m)
print(s)
print()
print(s.size)

0      Redmi
1       Oppo
2     iPhone
3    Samsung
dtype: object

4

In [ ]:
#index
import pandas as pd
n=["Sai","Anu","Suri","Chaithu","Pavan"]
s=pd.Series(n,name="Students")
print(s)
print()
print(s.index)

0        Sai
1        Anu
2       Suri
3    Chaithu
4      Pavan
Name: Students, dtype: object

RangeIndex(start=0, stop=5, step=1)

In [ ]:
#index
import pandas as pd
p=[20000,20000,100000,70000]
m=["Redmi","Oppo","iPhone","Samsung"]
s=pd.Series(p,index=m,name="Mobiles")
print(s)
print()
print(s.index)

Redmi       20000
Oppo        20000
iPhone     100000
Samsung     70000
Name: Mobiles, dtype: int64

Index(['Redmi', 'Oppo', 'iPhone', 'Samsung'], dtype='object')

In [ ]:
#values
import pandas as pd
m=["Redmi","Oppo","iPhone","Samsung"]
s=pd.Series(m,name="Mobiles")
print(s)
print()
print(s.values)

0      Redmi
1       Oppo
2     iPhone
3    Samsung
Name: Mobiles, dtype: object

['Redmi' 'Oppo' 'iPhone' 'Samsung']