<a href="https://colab.research.google.com/github/surekhavydyula4-cmd/Pandas/blob/main/S_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Series creation
import pandas as pd
a=["Sai","Suri","Kanna","Kittu"]
b=[10,20,30,40]
s=pd.Series(a,index=b)
print(s)

10      Sai
20     Suri
30    Kanna
40    Kittu
dtype: object

In [ ]:
#head()
import pandas as pd
a=["Sai","Suri","Kanna","Kittu","Krish","Lalli","Rithu"]
b=[10,20,30,40,50,60,70]
s=pd.Series(a,index=b)
print(s)
print()
print(s.head())

10      Sai
20     Suri
30    Kanna
40    Kittu
50    Krish
60    Lalli
70    Rithu
dtype: object

10      Sai
20     Suri
30    Kanna
40    Kittu
50    Krish
dtype: object

In [ ]:
#head() with specific number fo rows
import pandas as pd
a=["Sai","Suri","Kanna","Kittu","Krish","Lalli","Rithu"]
b=[10,20,30,40,50,60,70]
s=pd.Series(a,index=b)
print(s)
print()
print(s.head())
print()
print(s.head(2))

10      Sai
20     Suri
30    Kanna
40    Kittu
50    Krish
60    Lalli
70    Rithu
dtype: object

10      Sai
20     Suri
30    Kanna
40    Kittu
50    Krish
dtype: object

10     Sai
20    Suri
dtype: object

In [ ]:
#tail()
import pandas as pd
a=["Sai","Suri","Kanna","Kittu","Krish","Lalli","Rithu"]
b=[10,20,30,40,50,60,70]
s=pd.Series(a,index=b)
print(s)
print()
print(s.tail())

10      Sai
20     Suri
30    Kanna
40    Kittu
50    Krish
60    Lalli
70    Rithu
dtype: object

30    Kanna
40    Kittu
50    Krish
60    Lalli
70    Rithu
dtype: object

In [ ]:
#tail() with specific number fo rows
import pandas as pd
a=["Sai","Suri","Kanna","Kittu","Krish","Lalli","Rithu"]
b=[10,20,30,40,50,60,70]
s=pd.Series(a,index=b)
print(s)
print()
print(s.tail())
print()
print(s.tail(2))

10      Sai
20     Suri
30    Kanna
40    Kittu
50    Krish
60    Lalli
70    Rithu
dtype: object

30    Kanna
40    Kittu
50    Krish
60    Lalli
70    Rithu
dtype: object

60    Lalli
70    Rithu
dtype: object

In [ ]:
#describe()
import pandas as pd
a=["Sai","Suri","Kanna","Kittu","Krish","Lalli","Rithu"]
b=[10,20,30,40,50,60,70]
s=pd.Series(a,index=b)
print(s)
print()
print(s.describe())

10      Sai
20     Suri
30    Kanna
40    Kittu
50    Krish
60    Lalli
70    Rithu
dtype: object

count       7
unique      7
top       Sai
freq        1
dtype: object

In [ ]:
#count()
import pandas as pd
a=["Sai","Suri","Kanna","Kittu","Krish","Lalli","Rithu"]
b=[10,20,30,40,50,60,70]
s=pd.Series(a,index=b)
print(s)
print()
print(s.count())

10      Sai
20     Suri
30    Kanna
40    Kittu
50    Krish
60    Lalli
70    Rithu
dtype: object

7

In [ ]:
#sum()
import pandas as pd
a=["Sai","Suri","Kanna","Kittu","Krish","Lalli","Rithu"]
b=[10,20,30,40,50,60,70]
s=pd.Series(b,index=a)
print(s)
print()
print(s.sum())

Sai      10
Suri     20
Kanna    30
Kittu    40
Krish    50
Lalli    60
Rithu    70
dtype: int64

280

In [ ]:
#mean()
import pandas as pd
a=["Sai","Suri","Kanna","Kittu","Krish","Lalli","Rithu"]
b=[10,20,30,40,50,60,70]
s=pd.Series(b,index=a)
print(s)
print()
print(s.mean())

Sai      10
Suri     20
Kanna    30
Kittu    40
Krish    50
Lalli    60
Rithu    70
dtype: int64

40.0

In [ ]:
#unique()
import pandas as pd
a=["Sai","Suri","Kanna","Kittu","Krish","Lalli","Rithu"]
b=[10,20,30,40,50,60,70]
s=pd.Series(b,index=a)
print(s)
print()
print(s.unique())

Sai      10
Suri     20
Kanna    30
Kittu    40
Krish    50
Lalli    60
Rithu    70
dtype: int64

[10 20 30 40 50 60 70]

In [ ]:
#nunique()
import pandas as pd
a=["Sai","Suri","Kanna","Kittu","Krish","Lalli","Rithu"]
b=[10,20,30,40,50,60,70]
s=pd.Series(b,index=a)
print(s)
print()
print(s.nunique())

Sai      10
Suri     20
Kanna    30
Kittu    40
Krish    50
Lalli    60
Rithu    70
dtype: int64

7