<a href="https://colab.research.google.com/github/surekhavydyula4-cmd/Pandas/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Empty Series
import pandas as pd
s=pd.Series()
print(s)
print()
print(type(s))

Series([], dtype: object)

<class 'pandas.core.series.Series'>

In [ ]:
#Series from list
import pandas as pd
s=pd.Series([1,2,3])
print(s)
print()
print(type(s))

0    1
1    2
2    3
dtype: int64

<class 'pandas.core.series.Series'>

In [ ]:
# Series from list aling with name
import pandas as pd
r=[1,2,3]
s=pd.Series(r,name='RollNo')
print(s)
print()
print(type(s))

0    1
1    2
2    3
Name: RollNo, dtype: int64

<class 'pandas.core.series.Series'>

In [ ]:
#Series with use of range function
import pandas as pd
r=range(1,100)
s=pd.Series(r)
print(s)

0      1
1      2
2      3
3      4
4      5
      ..
94    95
95    96
96    97
97    98
98    99
Length: 99, dtype: int64

In [ ]:
#Series from numpy array
import pandas as pd
import numpy as np
a=["Suri","Rekha","Lucky","Cherry","Sai"]
ar=np.array(a)
s=pd.Series(ar)
print(s)
print()
print(type(s))

0      Suri
1     Rekha
2     Lucky
3    Cherry
4       Sai
dtype: object

<class 'pandas.core.series.Series'>

In [ ]:
#Series
import pandas as pd
names=["Sai","Sri","Chaithu","Anu"]
RNo=[10,20,30,40]
s=pd.Series(names)
print(s)

0        Sai
1        Sri
2    Chaithu
3        Anu
dtype: object

In [ ]:
# Series with name
import pandas as pd
names=["Sai","Sri","Chaithu","Anu"]
s=pd.Series(names,name="Students")
print(s)

0        Sai
1        Sri
2    Chaithu
3        Anu
Name: Students, dtype: object

In [ ]:
#Series with name and index
import pandas as pd
names=["Sai","Sri","Chaithu","Anu"]
RNo=[10,20,30,40]
s=pd.Series(names,name="Students",index=RNo)
print(s)

10        Sai
20        Sri
30    Chaithu
40        Anu
Name: Students, dtype: object

In [ ]:
#Accessing Series elements using indexing
import pandas as pd
names=["Ramya","Sai","Cherry","Paddu","Janu"]
s=pd.Series(names,name="Students")
print(s)
print()
print(s[0])
print(s[1])
print(s[2])
print(s[3])

0     Ramya
1       Sai
2    Cherry
3     Paddu
4      Janu
Name: Students, dtype: object

Ramya
Sai
Cherry
Paddu

In [ ]:
#Accessing Series elements using indexing
import pandas as pd
names=["Ramya","Sai","Cherry","Paddu","Janu"]
i=["K","S","R","L","U"]
s=pd.Series(names,name="Students",index=i)
print(s)
print()
print(s['K'])
print(s['U'])

K     Ramya
S       Sai
R    Cherry
L     Paddu
U      Janu
Name: Students, dtype: object

Ramya
Janu